<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luminare Digital – Pioneers of Digital Success</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='imgs/header/icon.png')}}"
    />
  </head>

  <body>
    <header>
      <div class="head-con" id="header">
        <img
          src="{{url_for('static', filename='imgs/header/logo.png')}}"
          alt="Logo"
        />
        <div class="bar">
          <i
            class="fa-solid fa-bars fa-2x bar"
            style="color: var(--sec-col)"
          ></i>
        </div>
        <div class="nav">
          <div class="h-mark"><i class="fa-solid fa-xmark fa-2x"></i></div>
          <nav>
            <a href="#hero">Home</a>
            <a href="#about">About Us</a>
            <a href="#services">Expertise</a>
            <a href="#highlights">Highlights</a>
            <a
              href="{{url_for('static', filename='doc/Profile.pdf')}}"
              class="prime-cta"
              download="Profile.pdf"
              >Our Profile</a
            >
          </nav>
        </div>
      </div>
    </header>

    <section class="hero" id="hero">
      <div class="hero-con">
        <h1>MAKE YOUR BRAND SHINE</h1>
        <p>
          Together, we’ll make waves that set your brand apart, leaving a trail
          of influence and success!
        </p>
        <div>
          <a href="#services" class="h-prime-cta">Services</a>
          <a href="#contact" class="h-sec-cta">Request for Quote</a>
        </div>
      </div>
      <div class="hero-img">
        <img
          src="{{url_for('static', filename='imgs/hero/h-2.png')}}"
          alt="Hero img"
        />
      </div>
    </section>

    <section class="about-us" id="about">
      <div class="about-con">
        <div class="rise">
          <h2 class="fade-an">
            The Rise of Luminare Digital – Shaping the Future of Digital
            Marketing
          </h2>
          <p class="fade-an">
            At Luminare Digital, we don't just play the digital marketing
            game—we revolutionize it. Inspired by the brilliance of light, which
            symbolizes clarity, innovation, and unwavering vision, we lead with
            precision and impact. Our mission is clear: to design strategies
            that do more than generate leads—they create waves, transforming
            markets with bold, measurable results.
            <br /><br />
            We don’t settle for the ordinary. By crafting custom-tailored
            solutions, we elevate brands and build legacies. Every campaign we
            design is carefully crafted to resonate with authority and prestige,
            helping businesses break free from the conventional and reach their
            fullest potential. This isn’t just marketing; it's about
            establishing a lasting, influential presence in your industry.
            <br /><br />
            Welcome to Luminare Digital, where every campaign is built to leave
            a mark and shape your business into an enduring force. With us,
            success isn’t just achieved—it’s redefined.
          </p>
        </div>
      </div>
    </section>

    <section class="mission">
      <div class="mission-con rise fade-an">
        <h2>Our Mission at Luminare Digital</h2>
        <p>
          Our mission is to empower exceptional brands to rise above the
          ordinary. We create marketing strategies that don’t just attract
          attention—they deliver lasting impact. By crafting bespoke solutions,
          we forge enduring connections that resonate with authority and
          prestige, turning ambitions into legacies.
          <br /><br />
          At Luminare Digital, we guide you through the digital landscape with
          precision, helping you redefine success and make powerful waves across
          industries. Together, we don’t just achieve success—we create it, time
          and time again.
        </p>
      </div>
    </section>

    <section class="why">
      <div class="why-con rise">
        <h2 class="fade-an">Why Choose Luminare Digital?</h2>
      </div>
      <div class="w-container">
        <div class="w-content fade-an">
          <h3>Results-Driven Precision</h3>
          <h4>
            Every strategy is backed by data, ensuring impactful, measurable outcomes.
          </h4>
          <p>
            In today’s dynamic digital landscape, intuition alone isn't enough. That’s why we harness the power of data to drive every decision we make. Our team uses advanced analytics and cutting-edge tools to gain deep insights into consumer behavior, trends, and campaign performance. This data-driven approach lets us optimize strategies in real-time, ensuring that each marketing effort is both precise and impactful. From audience targeting to measuring engagement and conversions, our focus is on delivering results that not only meet but exceed expectations. With <strong>Luminare Digital</strong>, you can trust that your campaigns will generate outcomes that directly contribute to your brand's success.
          </p>
        </div>
        <div class="w-content fade-an">
          <h3>Timeless Impact</h3>
          <h4>
            We focus on strategies that create lasting value and long-term growth.
          </h4>
          <p>
            At <strong>Luminare Digital</strong>, we think beyond short-term wins. Our commitment is to building long-term value for the brands we work with. Every campaign we design isn’t just about immediate results; it's about laying the groundwork for future success. We create strategies that ensure your brand continues to grow and thrive in a competitive marketplace. From nurturing loyal customer relationships to staying ahead of industry changes, we aim to make your brand a dominant force that endures. Our goal is to ensure your brand is recognized as an industry leader with a lasting presence.
          </p>
        </div>
        <div class="w-content fade-an">
          <h3>Tailored Strategies</h3>
          <h4>
            We design personalized approaches that align seamlessly with your brand's unique identity and goals.
          </h4>
          <p>
            At <strong>Luminare Digital</strong>, we understand that every brand is unique. That’s why we don’t offer one-size-fits-all solutions. We take the time to fully understand your brand’s essence, values, and goals. By analyzing your market, competitors, and audience, we create customized strategies that resonate with your target demographic and reflect your brand’s authentic voice. Whether you’re building a fresh digital presence or enhancing an existing one, our tailored solutions are designed to empower your brand and spark meaningful engagement. We ensure every tactic aligns with your long-term vision, setting the foundation for sustainable growth and success.
          </p>
        </div>
      </div>
      
    </section>

    <section class="h-services" id="services">
      <div class="services">
        <div class="s-info">
          <h2>Our Expertise</h2>
          <p>Comprehensive Solutions to Meet Every Marketing Need</p>
        </div>
        <div class="cards">
          {% for i in range(data|length)%}
          <div class="card">
            <div class="card-front">
              <img src="{{data[i].img}}" alt="" />
              <h4>{{data[i].title}}</h4>
              <p>{{data[i].description}}</p>
            </div>
            <div class="card-back">
              <h4>Services</h4>
              <ul>
                {% for ser in subdata[i] %}
                <li>{{ser}}</li>
                {% endfor %}
              </ul>
              <a class="s-links" id="{{data[i].title}}">More>></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="highlights" id="highlights">
      <div class="high-con">
        <h2 class="fade-an">Our Work Speaks for Itself</h2>
        {% for high in range(highlights|length) %}
        <div class="high-card fade-an">
          <div class="high-card-img">
            <img src="{{highlights[high].img}}" alt="highlight-{{high}}" />
          </div>
          <div class="high-card-con">
            <h4>{{highlights[high].title}}</h4>
            <p>{{highlights[high].description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="con-con">
        <h2>Request for Quote</h2>
        <form action="{{url_for('index')}}" method="post">
          <div>
            <label for="user-name">Name :</label>
            <input type="text" name="user-name" id="user-name" required />
            <label for="company-name">Company Name : </label>
            <input type="text" name="company-name" id="company-name" required />
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" required />
            <label for="ph-no">Phone Number</label>
            <input type="tel" name="ph-no" id="ph-no" required />
            <label for="interest-ser">Service</label>
            <select id="down" name="serv">
              {% for i in range(data|length) %}
              <option value="{{data[i].title}}">{{data[i].title}}</option>
              {% endfor %}
            </select>
            <label for="msg">Message : </label>
            <textarea
              name="msg"
              id="msg"
              cols="30"
              placeholder="type here..."
              required
            ></textarea>
          </div>
          <input type="submit" value="Proceed>>" class="submit" />
        </form>
      </div>
    </section>

    <footer>
      <div class="f-con">
        <div class="f-c-link">
          <h2>Quick Links</h2>
          <a href="#hero">Home</a><a href="#about">About Us</a
          ><a href="#services">Expertise</a><a href="#highlights">Highlights</a
          ><a href="#contact">Contact us</a><a href="#">Our Profile</a>
        </div>
        <div>
          <h2>Contact Us Via</h2>
          <a href="https://www.x.com"
            ><i class="fa-brands fa-x-twitter fa-2x"></i>Luminare_Digital</a
          ><a href="https://www.instagram.com"
            ><i class="fa-brands fa-instagram fa-2x"></i>Luminare_Digital</a
          ><a href="https://www.linkedin.com"
            ><i class="fa-brands fa-linkedin fa-2x"></i>Luminare_Digital</a
          ><a href="https://www.facebook.com"
            ><i class="fa-brands fa-facebook fa-2x"></i>Luminare_Digital</a
          ><a href="mailto:sample@gmail.com"
            ><i class="fa-brands fa-at fa-2x"></i>Luminare Digital</a
          >
        </div>
        <h5>Lamp of Leads 2024 © All rights reserved</h5>
        <h5>Terms and Conditions & Privacy Policy</h5>
      </div>
    </footer>

    {% include 'cursor.html' %}

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
